<mat-drawer-container class="app-container" autosize>
    <mat-drawer *ngIf="isLoggedIn()" #drawer class="app-sidenav" mode="side" opened>
        <div class="server-list">
            <div class="add-btn" (click)="openCreateServerDialog()"><mat-icon>add</mat-icon></div>
            <div class="server" (click)="openServerPage(server)" *ngFor="let server of getLoggedInUser()?.servers" [matTooltip]="server.name" matTooltipPosition="right" >
                <img [src]="server.iconUrl || 'assets/img/default.jpg'" [alt]="server.name">
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content class="app-content">
        <app-navbar *ngIf="isLoggedIn()" (toggleSidenav)="toggleDrawer()"></app-navbar>

        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>