.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.app-sidenav {
    width: 100px;
    background-color: #2f3136;
    color: white;
    border-right: 1px solid var(--mat-sys-outline);
    padding: 8px 0;
    overflow-y: auto;
}

.server-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
    .add-btn {
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: color-mix(in srgb, var(--mat-sys-primary) 90%, black);
        }
    } 
}

.server {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    img {
        border-radius: 50%;
        width: 100%;
    }
    &:hover {
        cursor: pointer;
    }
}

.app-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content-area {
    overflow-y: auto;
    flex: 1;
}