<mat-drawer-container class="room-container" autosize>
    <mat-drawer #drawer class="room-sidenav" mode="side" opened>
        <div class="new-group-btn">
            <button mat-flat-button color="primary" (click)="openNewGroupDialog()">
                <mat-icon>add</mat-icon>
                New Group
            </button>
        </div>
        <div class="room-list" *ngIf="getCurrentUser() && getCurrentUser()?.privateRooms">
            <div *ngFor="let room of getCurrentUser()?.privateRooms" class="room" [class.selected]="room.id === roomId"
                (click)="selectRoom(room)">
                <img *ngIf="getRoomIcon(room)" [src]="getRoomIcon(room)" alt="room icon" />
                <span class="room-name">{{ getRoomDisplayName(room) }}</span>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content class="room-content" *ngIf="room">
        <div class="chat" #chatContainer>
            <div *ngFor="let message of messages" class="chat-message"
                [class.own-message]="message.sender.id === getCurrentUser()?.id">
                <img class="sender-avatar" [src]="message.sender.avatarUrl || 'assets/img/default.jpg'" alt="Avatar">

                <div class="message-content">
                    <div class="message-header">
                        <strong>{{ message.sender.username }}</strong>
                        <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span>
                    </div>
                    <div class="message-text">
                        {{ message.content }}
                    </div>
                </div>
                <div *ngIf="message.type === 'SERVER_INVITE'">
                    <button mat-flat-button (click)="acceptInvite(message)" >Accept Invite</button>
                </div>
            </div>
        </div>

        <div class="input">
            <mat-form-field class="message-input" appearance="fill">
                <mat-label>Message</mat-label>
                <input matInput [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" type="text" autocomplete="off" />
            </mat-form-field>
            <button class="send-btn" mat-icon-button color="primary" (click)="sendMessage()" aria-label="Send message">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>